# "Python Coding Journey: From Basics to Interactive Programs and Data Manipulation"



## Index

1. **Introduction to Python:**
   - Basic input/output and data types
   - Control structures: if, else, while, for

2. **Exploring Inbuilt Functions:**
   - Understanding and utilizing inbuilt functions
   - Demonstrations of `len()`, `input()`, `str()`, and more

3. **Data Manipulation Fundamentals:**
   - Lists, tuples, sets, and dictionaries
   - Indexing, slicing, modifying, and nesting
   - Examples: [Task 2: Create a list of length = 10 and access 5th to 8th data](#task-2)

4. **Interactive Programming:**
   - User input for mathematical operations
   - Loop-based interactive calculations
   - Examples: [Task 8: Ask 2 numbers from users and store it in num1 and num2](#task-8)

5. **Dictionary Mastery:**
   - Navigating nested dictionaries
   - Modifying keys and values, and adding entries
   - Examples: [Task 5: Dictionary operations](#task-5)

6. **Tuple Tricks:**
   - Workarounds for modifying tuples
   - Adding and removing elements creatively
   - Examples: [Task 6: Add and remove elements from a tuple](#task-6)

7. **Set Strategies:**
   - Using `difference()` and `symmetric_difference()` for set operations
   - Examples: [Task 7: difference() and symmetric_difference()](#task-7)

8. **Arithmetic Operator Selection:**
   - Building a user-friendly calculator with user preferences
   - Utilizing `while` loops, `if` conditions, and the `continue` statement
   - Examples: [Task 8: Ask 2 numbers from users and store it in num1 and num2](#task-8)

9. **Enhancing User Interaction:**
   - Extending calculator operations with user input checks
   - Introducing the `break` statement for controlled program termination
   - Examples: [Task 8: Ask 2 numbers from users and store it in num1 and num2](#task-8)

10. **Data Looping and Iteration:**
    - Printing numbers in reverse with `while` loops
    - Iterating through tuples, sets, and dictionaries
    - Examples: [Using Loop for set](#using-loop-for-set), [Using loop for dictionary](#using-loop-for-dictionary)

11. **Pythonic Techniques:**
    - Utilizing  `enumerate()` for compact code
    - Examples: [Task 10.4: Go through  enumerate()](#task-10.4)
    

12. **Your Turn:**
    - Encouragement to explore and experiment further

# Task 1

## Inbuilt Function of Python :-

**1. print : Print the Function.**

In [1]:
print("Hello, World!")

Hello, World!

**2. len : Length of given sequence.**

In [2]:
length = len("Hello")
length

5

**3. input: Accept user input from the console.**

In [3]:
name = input("Enter your name: ")

Enter your name: Mayur

**4. str: Convert values to strings.**

In [4]:
num_str = str(42)
num_str

'42'

**5. int: Convert values to integers.**

In [5]:
num_int = int("42")
num_int

42

**6. float: Convert values to float point numbers.**

In [6]:
num_float = float("3.14")
num_float

3.14

**7. list: Create a list from an iterable.**

In [7]:
numbers = list(range(1, 6))
numbers

[1, 2, 3, 4, 5]

**8. tuple: Create an immutable ordered collection.**

In [8]:
coordinates = (3, 5)
coordinates

(3, 5)

**9. dict: Create a dictionary (key-value pairs).**

In [9]:
dict={'Name':'Mayur','Project':'Python Assignment'}
dict

{'Name': 'Mayur', 'Project': 'Python Assignment'}

**10. set: Create an unordered collection of unique elements.**

In [10]:
set1 = set([1, 2, 3, 3, 4, 4, 5])
set1

{1, 2, 3, 4, 5}

**11. range: Generate a sequence of numbers.**

In [11]:
num_range = range(1, 8)
num_range

range(1, 8)

**12. max and min: Find the maximum and minimum values in a sequence.**

In [12]:
max_value = max([9, 5, 8, 2])
min_value = min([9, 5, 8, 2])

In [13]:
max_value

9

In [14]:
min_value

2

**13. sum: Calculate the sum of a sequence of numbers.**

In [15]:
total=sum([4,6,1,9])

In [16]:
total

20

**14. sorted: Return a sorted version of a sequence.**

In [17]:
sorted_list=sorted([6,8,3,7,3])

In [18]:
sorted_list

[3, 3, 6, 7, 8]

**15. join: Combine elements of a sequence into a string.**

In [19]:
words=("Hello","All")
sentence= " ".join(words)

In [20]:
sentence

'Hello All'

**16. split: Split a string into a list of substrings.**

In [21]:
sentence="Hello All"
words=sentence.split()

In [22]:
words

['Hello', 'All']

## Task 2.  Given a string for example :-
  ##### str1 = "Welcome to python"
  ##### check if "to" is present in "welcome to python"

In [23]:
str1="Welcome to python"   # created a string

In [24]:
if "to" in str1:
    print("'to' is present in given string")

'to' is present in given string

# Task-3.1

### Go through other inbuilt methods like remove(),count(),clear(),sort(),reverse()

**1. remove(): Removes the first occurrence of a specified value from a list.**

In [25]:
list=['Yuvraj','Dhoni','Raina','Kaif']
list.remove('Raina')
print(list)

['Yuvraj', 'Dhoni', 'Kaif']

**2. count(): Counts the occurrences of a specified value in a list**

In [26]:
my_data="Python is programming language"
my_output=my_data.count("n")

In [27]:
print(my_output)

3

**3. clear(): Removes all elements from a list, making it empty.**

In [28]:
list=['Yuvraj','Dhoni','Raina','Kaif']
list.clear()

In [29]:
print(list)

[]

**4. sort(): Sorts the elements of a list in ascending order**

In [30]:
numbers = [5, 2, 8, 1]
numbers.sort()

In [31]:
print(numbers)

[1, 2, 5, 8]

**5. reverse(): Reverses the elements of a list**

In [32]:
numbers=[5,4,3,2,1]
numbers.reverse()

In [33]:
print(numbers)

[1, 2, 3, 4, 5]

# Task 3.2
### Create a list of lenght = 10 and access 5th to 8th data.

In [34]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
output = my_list[4:8]    
print(output)

[5, 6, 7, 8]

# Task-4: 
## 2 problems!
 **1)Add item 70 after 60 in the following Python List**
 
 **input**

**l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]**

**output**

**[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]**

In [35]:
l1=[10,20,[30,40,[50,60],80],90,100]
inner_list=l1[2][2]

In [36]:
inner_list.append(70)
print(l1)

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

### 2)
###### add sublist [7,8] after 6
##### input
##### l2 = [1,2,[3,4,5,6],9]
##### output
##### [1,2,[3,4,5,6,[7,8]],9]

In [37]:
l2 = [1, 2, [3, 4, 5,6], 9]

# Create the sublist [7, 8]
sublist = [7, 8]

# Append the sublist to the nested list
l2[2].append(sublist)

print(l2)

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

# Task-5

code:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

Questions:
From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks

In [38]:
dict1 = {"april_batch":{ "student":{ "name":"Mike","marks":{ "python":80,"maths":70 }}}}

In [39]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [40]:
# Task 1 access 'Mike'
student_name=dict1["april_batch"]["student"]['name']
print("Student Name is :",student_name)

Student Name is : Mike

In [41]:
# Task 2 Access 80
python_marks=dict1["april_batch"]["student"]["marks"]["python"]
print("Python Marks is :",python_marks)

Python Marks is : 80

In [42]:
# Task 3 change Mike to your name
dict1["april_batch"]["student"]['name']="Mayur"
print("Upadated Dictionary Name is :",dict1)

Upadated Dictionary Name is : {'april_batch': {'student': {'name': 'Mayur', 'marks': {'python': 80, 'maths': 70}}}}

In [43]:
# Task 4 add ML = 80 and DL = 80 inside marks
dict1["april_batch"]["student"]["marks"].update({"ML":80,"DL":80})
print("Updated Dictionary with Updated Marks:",dict1)

Updated Dictionary with Updated Marks: {'april_batch': {'student': {'name': 'Mayur', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

# Task- 6
 
### Add and remove the elements from a tuple. (Refer workaroud to modify the tuples)

**As we know Tuple is immutable. But we can modify it doing certain operations.**

In [44]:
# Adding
original_tuple=(1,2,3)
new_element=4
new_tuple=original_tuple+(new_element,)

In [45]:
print(new_tuple)

(1, 2, 3, 4)

In [46]:
# removing
original_tuple=(1,2,3,4,5,6,7)
element_to_remove=4
new_tuple=tuple(element for element in original_tuple if element != element_to_remove)
print(new_tuple)

(1, 2, 3, 5, 6, 7)

# Task-7  
Go through other inbuilt methods like
difference()
symmetric_difference()

In [47]:
# difference()
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference_set = set1.difference(set2)  # used to find the elements that are in the first set but not in the second set.
print(difference_set)

{1, 2}

In [48]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference_set = set2.difference(set1)  # used to find the elements that are in the second set but not in the first set.
print(difference_set)

{6, 7}

In [49]:
# symmetric_difference()
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

symmetric_difference_set = set1.symmetric_difference(set2)  # it will give us elements that are unique to each set
print(symmetric_difference_set)

{1, 2, 6, 7}

# Task 8
Ask 2 numbers from users and store it in num1 and num2
Ask user to press 1 for addition,2 for subtraction,3 for multiplication and 4 for division
based on number given by user do the math operation

In [50]:
num1=int(input("Enter First Number :  " ))
num2=int(input("Enter second Number :  " ))

print("Choose an operation to perform :")
print("1 for Addition")    
print("2 for Substraction")   
print("3 for Multiplication")   
print("4 for Division")


choice=int(input("Enter your choice (1/2/3/4) :"))

if choice==1:
    result=num1+num2
    operation='Addition'
elif choice==2:
    result=num1-num2
    operation="Substraction"
elif choice==3:
    result=num1*num2
    operation="Multiplication"
elif choice==4:
    if num2!=0:
        result=num1/num2
        operation="Division"
    else:
        print("Cannot divide by zero")
        result=None
else:
    print("Try again with valid option")
    result=None
    
if result is not None:
    print("Result is :",result)

Enter First Number :  1
Enter second Number :  2
Choose an operation to perform :
1 for Addition
2 for Substraction
3 for Multiplication
4 for Division
Enter your choice (1/2/3/4) :2
Result is : -1

#### Second Example 
**Here I'm asking the user if they want to perform another operation or exit.**

In [51]:
while True:
    num1=int(input("Enter First Number :  " ))
    num2=int(input("Enter second Number :  " ))
    
    print("Choose an operation to perform :")
    print("1 for Addition")    
    print("2 for Substraction")   
    print("3 for Multiplication")   
    print("4 for Division")
    
    choice=int(input("Enter your choice (1/2/3/4) :"))
    if choice==1:
        result=num1+num2
        operation='Addition'
    elif choice==2:
        result=num1-num2
        operation="Substraction"
    elif choice==3:
        result=num1*num2
        operation="Multiplication"
    elif choice==4:
        if num2!=0:
            result=num1/num2
            operation="Division"
        else:
            print("Cannot divide by zero")
            result=None
    else:
        print("Try again with valid option")
        result=None
    
    if result is not None:
        print("Result is :",result)
        
    repeat=input("Do you want to perform another operation (yes/no): ")
    if repeat.lower()!= "yes":
        break

Enter First Number :  1
Enter second Number :  3
Choose an operation to perform :
1 for Addition
2 for Substraction
3 for Multiplication
4 for Division
Enter your choice (1/2/3/4) :3
Result is : 3
Do you want to perform another operation (yes/no): yus

 #### Third example
 **If the user has entered any random word except (yes/no) in "Do you want to perform another operation (yes/no)", Then Break the program there only and send him the message "Your Prefrence should be yes or no".**
 
## Continue statement

#### Here, we are using Continue statement :-  to skip the remaining code inside the loop for the current iteration and move to the next iteration.

In [52]:
while True:
    num1=int(input("Enter First Number :  " ))
    num2=int(input("Enter second Number :  " ))
    
    print("Choose an operation to perform :")
    print("1 for Addition")    
    print("2 for Substraction")   
    print("3 for Multiplication")   
    print("4 for Division")
    
    choice=int(input("Enter your choice (1/2/3/4) :"))
    if choice==1:
        result=num1+num2
        operation='Addition'
    elif choice==2:
        result=num1-num2
        operation="Substraction"
    elif choice==3:
        result=num1*num2
        operation="Multiplication"
    elif choice==4:
        if num2!=0:
            result=num1/num2
            operation="Division"
        else:
            print("Cannot divide by zero")
            result=None
    else:
        print("Try again with valid option")
        result=None
    
    if result is not None:
        print("Result is :",result)
        
    repeat=input("Do you want to perform another operation (yes/no): ")
    if repeat.lower()=="no":
        break
    if repeat.lower()=='yes':
        continue
    else:
        print("Your Prefrence should be yes or no ")
        break

Enter First Number :  1
Enter second Number :  2
Choose an operation to perform :
1 for Addition
2 for Substraction
3 for Multiplication
4 for Division
Enter your choice (1/2/3/4) :3
Result is : 2
Do you want to perform another operation (yes/no): yes
Enter First Number :  2
Enter second Number :  0
Choose an operation to perform :
1 for Addition
2 for Substraction
3 for Multiplication
4 for Division
Enter your choice (1/2/3/4) :4
Cannot divide by zero
Do you want to perform another operation (yes/no): no

#### Fourth Example

## Pass Statement

##### In the context of above code. we can use pass to indicate that no specific action is required in certain conditions.

In [53]:
while True:
    num1=int(input("Enter First Number :  " ))
    num2=int(input("Enter second Number :  " ))
    
    print("Choose an operation to perform :")
    print("1 for Addition")    
    print("2 for Substraction")   
    print("3 for Multiplication")   
    print("4 for Division")
    
    choice=int(input("Enter your choice (1/2/3/4) :"))
    if choice==1:
        result=num1+num2
        operation='Addition'
    elif choice==2:
        result=num1-num2
        operation="Substraction"
    elif choice==3:
        result=num1*num2
        operation="Multiplication"
    elif choice==4:
        if num2!=0:
            result=num1/num2
            operation="Division"
        else:
            print("Cannot divide by zero")
            result=None
    else:
        print("Try again with valid option")
        result=None
        pass
    
    if result is not None:
        print("Result is :",result)
        
    repeat=input("Do you want to perform another operation (yes/no): ")
    if repeat.lower()=="no":
        break
    if repeat.lower()=='yes':
        continue
    else:
        print("Your Prefrence should be yes or no ")
        break

Enter First Number :  1
Enter second Number :  4
Choose an operation to perform :
1 for Addition
2 for Substraction
3 for Multiplication
4 for Division
Enter your choice (1/2/3/4) :2
Result is : -3
Do you want to perform another operation (yes/no): nnnn
Your Prefrence should be yes or no

#### Using while loop print numbers from 10 to 1

In [54]:
num=10
while num>=1:
    print(num,end=' ')
    num-=1

10 9 8 7 6 5 4 3 2 1

#### Using for loop for tuple

In [55]:
my_tuple=('python', 'is', 'programming', 'language')
print(type(my_tuple))
for x in my_tuple:
    print(x)

<class 'tuple'>
python
is
programming
language

#### Using Loop for set

In [56]:
my_set={1,2,3,4,5}
print(type(my_set))
for x in my_set:
    print(x)

<class 'set'>
1
2
3
4
5

#### Using loop for dictionary

In [57]:
my_dict={"name":"kohli","captain":"dhoni"}
print(type(my_dict))
for key,value in my_dict.items():
    print(f'Key:{key},value:{value}')

<class 'dict'>
Key:name,value:kohli
Key:captain,value:dhoni

#### Enumerate Function

In [60]:
my_string = "python"
for x in enumerate (my_string):
    print(x)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')